@import "../../../scss/utils/variables";
@import "../../../scss/utils/mixins";

.logo {
  text-decoration: none;
  display: block;
  width: 84px;

  @include mmin($laptop) {
    width: 100px;
  }

  @include mmin($xl) {
    cursor: pointer;
  }

  & > img {
    width: 100%;
    display: block;
  }
}

.logoInvert {
  & > img {
    filter: invert(100%);
  }
}
