@import "../../../scss/utils/variables";
@import "../../../scss/utils/mixins";

.section {
  margin: rem(50) 0;
  @include mmin($laptop) {
    margin: rem(100) 0;
  }
}

.title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: rem(30);
  max-width: 70%;
}

.slider {
  position: relative;
}

.navigation {
  @include flc;
  @include mmin($xl) {
    position: absolute;
    width: 100%;
    top: 33%;
    // transform: translateY(rem(-25));
  }

  & > svg:first-child {
    display: none;
    width: rem(30);
    height: rem(30);
    margin: rem(10);
    opacity: 1;
    transition: opacity 0.3s;
    @include mmin($pad) {
      display: block;
    }
    @include mmin($xl) {
      position: absolute;
      left: 0;
      margin-left: rem(-60);
      cursor: pointer;
    }

    & > circle {
      stroke: black;
    }
    & > path {
      fill: black;
    }

    &:hover{
      opacity: 0.5;
    }
  }

  & > svg:last-child {
    transform: rotate(90deg);
    display: block;
    width: rem(30);
    height: rem(30);
    margin: rem(10);
    opacity: 1;
    transition: opacity 0.3s;
    @include mmin($pad) {
      transform: rotate(0deg);
    }

    @include mmin($xl) {
      position: absolute;
      right: 0;
      margin-right: rem(-60);
      cursor: pointer;
    }

    & > circle {
      stroke: black;
    }
    & > path {
      fill: black;
    }

    &:hover{
      opacity: 0.5;
    }

    &:active{
      background: transparent;
    }
  }
}
