@import "../../../scss/utils/variables";
@import "../../../scss/utils/mixins";

.main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &::before{
    content: '';
    display: block;
    width: 100%;
    padding-top: rem(60);
    @include mmin($xl) {
      padding-top: rem(100);
    }
  }
}
