@import '../../../scss/utils/variables';
@import '../../../scss/utils/mixins';

.ul {
  padding: 0;
  margin: 0;
  & > li {
    list-style-type: none;
    margin-bottom: rem(15);
    &:last-of-type {
      margin-bottom: 0;
    }

    & > a {
      font-size: rem(15);
      line-height: rem(22);
      color: #314351;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: #3760EF;
      }
    }
  }
}

