@import "../../../scss/utils/variables";
@import "../../../scss/utils/mixins";

.ul {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;

  & > li {
    @include dflex(center, nowrap, flex-start);
    list-style-type: none;
    font-weight: 400;
    font-size: rem(14);
    line-height: 140.02%;
    color: #314351;
    margin-bottom: rem(20);
    @include mmin($laptop) {
      font-size: rem(16);
    }

    &::last-of-type {
      margin-bottom: 0;
    }

    & > svg {
      min-width: rem(20);
      height: rem(20);
      margin-right: rem(12);
      display: block;
      @include mmin($laptop) {
        min-width: rem(20);
        height: rem(20);
        margin-right: rem(15);
      }
    }
  }
}
